/* general */
body {
    color: #bbbbbb;
    background: #202020 center;
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif, Monospace, serif, Georgia, Palatino;
    font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
    color: #bb8844;
}

h2 {
    border-top: 1px solid #666666;
    background: #242424;
}

a {
    color: #0080ff;
    text-decoration: none;
    padding-bottom: 1px;
}
a:visited {
    color: #ff44ff;
}

p {
    padding-left: 20px;
}

ul li {list-style-type : round}

pre {
    color: #bbbbbb;
    background: #181818;
    margin-left: 20px;
    /*border: 1px solid;*/
}

table {
    border-collapse: collapse;
}

table, th, td {
    color: #dddddd;
    background: #202020;
    border: 1px solid;
    margin: 20px;
}


/******************************************************************************/
#wrapper {
    margin: 0 auto;
    width: 996px;
}

#header {
    background-color: #111;
    height: 200px;
    border-bottom: 1px solid #666666;
}

.header_titleline {
    color: #00ff00;
    font-size: 36px;
    text-align: center;
    padding-top: 20px;
}

.header_subline {
    color: #00cc00;
    font-size: 16px;
    text-align: center;
}

#top-nav {
    position: relative;
    top: -15px;
    width: 996px;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
}

#top-nav li {
    float: left;
    list-style: none;
    margin-right: 10px;
}
#top-nav a{
    display: block;
    padding: 6px 20px;
    background: #022538;
    background-color: rgba(8,32,50,0.85);
    background: -webkit-gradient(linear, 0 0, 0 90%, from(rgba(12,46,65,0.7)), to(rgba(0,35,54,0.9)));
    border: 1px solid #3A4D5B;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 1px;
    -moz-border-radius: 1px;
    color: #abc;
    text-shadow: 0 1px 0 #000;
    box-shadow: 0 1px 3px rgba(10,10,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(10,10,0,0.6);
    -moz-box-shadow: 0 1px 3px rgba(10,10,0,0.6);
    -webkit-transition: all 0.45s linear;
    -moz-transition: all 0.45s linear;
}

#top-nav a:hover, #top-nav a:focus {
    color: #f3f3f3;
    border-color: rgba(255,255,255,0.35);
    background: -webkit-gradient(linear, 0 0, 0 95%, from(rgba(20,56,76,0.8)), to(rgba(0,40,60,1)));
    box-shadow: 0 1px 0px rgba(10,10,0,0.6);
    -webkit-box-shadow: 0 1px 0px rgba(10,10,0,0.6);
    -moz-box-shadow: 0 1px 0px rgba(10,10,0,0.6);
}

/*
#TOC {
    position: relative;
    top: 180;
    width: 300px;
    border: 1px solid #666666;
}
*/


#right_side {
    position: absolute;
    top: 180px;
    left: 1160px;
    max-width: 300px;
    border: 1px solid #666666;
}


#footer {
    background-color: #111;
    border-top: 1px solid #666666;
    height: 30;
}

.footer_titleline {
    color: #00ff00;
    font-size: 16px;
    text-align: center;
}

.footer_subline {
    color: #00ff00;
    font-size: 12px;
    text-align: center;
    text-vertical-align: top;
}

